.product_list {
    width: 80%;
    aspect-ratio: 4620 / 1935;

    background-image: url("../img/product_list_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
}

.product_wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.product_scroll_area {
    position: absolute;
    left: 0%;
    top: 3.85%;
    width: 100%; /* подбери под свою картинку */
    height: 92.9%; /* подбери под свою картинку */
    overflow-y: auto; overflow-x: hidden;
}

.product {
    width: 96.7%;
    aspect-ratio: 4470 / 435;

    background-image: url("../img/product_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 3.9px;

}

.bottom_row {
    width: 80%;
    display: flex;
    justify-content: flex-end; /* блоки прижаты к правому краю */
    align-items: flex-start; /* теперь блоки прижаты к верхней линии контейнера */
    margin: auto;

}

.money_table {
    width: 21.1%;
    aspect-ratio: 975 / 255;

    align-self: flex-start;

    background-image: url("../img/money_table.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.money_value {
    margin: auto;
    margin-top: 15.7px;
    margin-left: 34.5px;

    width: 73%;  /* чтобы текст центрировался */
    height: 53.5%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: "Press Start 2P", monospace; /* если нужен пиксельный стиль */
    font-size: 2.8vw; /* масштабируется вместе с блоком */
    color: black;      /* или другой цвет */
}

.product_image {
    margin-top: 15.7px;
    margin-left: 15.5px;
    width: 6.45%; /* подгони под фон */
    height: 65.5%; /* подгони под фон */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* чтобы картинка не вылезала */
}

.product_name {
    display: flex;
}

.product_image img {
    width: 100%; /* увеличивает картинку */
    height: 100%; /* увеличивает картинку */
    object-fit: contain;
    image-rendering: pixelated; /* если пиксель-арт */
}

.item {
    width: 85%;
    height: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img {
    width: 90%; /* увеличивает картинку */
    height: 90%; /* увеличивает картинку */
    object-fit: contain;
    image-rendering: pixelated; /* если пиксель-арт */
}

.cart {
    width: 66.88%;
    aspect-ratio: 3090 / 945;

    background-image: url("../img/cart_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 7px;

    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 столбцов */
    grid-template-rows: repeat(3, 1fr); /* 3 ряда */
    gap: 15px 0px; /* расстояние между ячейками — подгони под фон */
    padding: 29.1px 24.9px; /* если нужно отступить от краёв фона */
    box-sizing: border-box;
}