{% extends 'base.html' %}

{% block content %}

<div class="shop">
    <div class="product_list">
    <div class="product_scroll_area">
            <div class="product_wrapper">
                {% for product in products %}
                <a href="{{ url 'cart:cart_add' }}">
                    <div class="product">
                        <div class="product_image"><img src="{{ product.image.url }}" alt=""></div>
                        <div class="product_name">{{ product.name }}</div>
                        <div class="product_price">{{ product.price }}</div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="bottom_row">
        <div class="money_table">
            <div class="money_value">50</div>
        </div>
        <div class="cart">
            <div class="item"><img src="" alt=""></div>
        </div>
    </div>
</div>

{% endblock %}